/* General styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f4f8;
    color: #333;
    margin: 0;
    padding: 0;
    text-align: center; /* Center all content horizontally */
}

h1 {
    text-align: center;
    color: #0056b3;
    margin-top: 20px;
}

h2 {
    color: #333;
    text-align: center;
    margin-top: 20px;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Home Page */
.home-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
    flex-direction: column; /* Align items vertically */
    background-color: #e0f7fa;
}

.home-content {
    background-color: #073ceb;
    padding: 50px;
    border-radius: 8px;
    text-align: center;
}

.home-content a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #0056b3;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    margin-top: 20px; /* Adds space between the text and button */
    text-align: center; /* Center text inside the button */
}

.home-content a:hover {
    background-color: #003d80;
}

/* Predict Page */
.form-container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

.form-group input,
.form-group select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-group input:focus,
.form-group select:focus {
    border-color: #0056b3;
    outline: none;
}

.error-message {
    color: red;
    font-size: 0.9em;
}

.submit-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #0056b3;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submit-btn:hover {
    background-color: #003d80;
}

.output-message {
    margin-top: 20px;
    font-size: 1.2em;
    color: #333;
}

/* New CSS for centering links */
a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #0056b3;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

a:hover {
    background-color: #003d80;
}
